#footer-container {
  top: 8240px;

  width: 1440px;
  height: 462px;
}

#footer-product-link-container {
  top: 180px;
  right: 607px;

  width: 100px;
  height: 140px;
}

#how-it-works-footer-link {
  top: 0;

  width: 89px;
  height: 12px;
}

#benefits-footer-link {
  top: 45px;

  width: 55px;
  height: 12px;
}

#features-footer-link {
  top: 90px;

  width: 60px;
  height: 12px;
}

#footer-support-link-container {
  top: 188px;
  right: 407px;

  width: 100px;
  height: 140px;
}

#blog-footer-link {
  top: 0;

  width: 29px;
  height: 16px;
}

#help-footer-link {
  top: 41px;

  width: 30px;
  height: 16px;
}

#faq-footer-link {
  top: 86px;

  width: 28px;
  height: 16px;
}

#footer-social-media-container {
  top: 280px;
  right: 220px;

  width: 90px;
}

.footer-social-logo {
  width: 20px;
  height: 20px;
}

#facebook-logo-img {
  left: 0;
}

#instagram-logo-img {
  left: 35px;
}

#twitter-logo-img {
  left: 70px;
}
