#testimonials-container {
  top: 6030px;

  width: 1440px;
  height: 1040px;
}

#testimonials-quote-mark {
  width: 115px;
  height: 89px;
}

#testimonials-heading-img {
  top: 180px;

  width: 334px;
  height: 43px;
}

#testimonials-video-container {
  top: 400px;

  width: 1360px;
  height: 503px;
}

#testimonials-name {
  top: 95px;

  width: 235px;
  height: 59px;
}

#testimonials-description {
  top: 205px;

  width: 374px;
  height: 130px;
}

.testimonials-arrow {
  width: 50px;
  height: 50px;
}

#testimonials-arrow-right {
  left: 50px;
}

.testimonials-video {
  top: 75px;

  width: 631px;
  height: 393px;
}

#testimonials-video-main {
  right: 325px;
}

#testimonials-video-sub {
  right: -265px;
}

#testimonials-video-accent {
  width: 851px;
  height: 503px;
}
